*{
    margin: 0;
    padding: 0;
    text-align: center;
}

nav{
    background-color: #333;
    height: 50px;
    color: whitesmoke;
}
h2{
    padding: 10px;
    font-size: 2rem;
}

.image{
    width: 150px;
    height: 150px;
    margin-top: 50px;
    border-radius: 50%;
    padding: 20px;
    object-fit: cover;
}

.image:hover{
    cursor: pointer;
    opacity: 0.5;
}

.score-board{
    display: flex;
    justify-content: center;
}
.score{
    height: 50px;
    width: 50px;
    margin-top: 100px;
    padding: 10px 10px;
}



#msg{
    display: inline;
    background-color: rgb(14, 14, 58);
    padding: 5px;
    border-radius: 5px;
    font-size: 1.5rem;
    color: whitesmoke;


}